<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#" onclick="locateMe()" ><span class="glyphicon glyphicon-map-marker"></span> Locate me</a>
      </li>
      <li>
        <a href="/" nclick="displayMarkers()"><span class="glyphicon glyphicon-map-marker"></span> Get locations</a>
      </li>
      <li>
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
