<!DOCTYPE html>
<html style="height: 100%;width: 100%;margin: 0;padding: 0;">
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body onload="initMap()" style="height: 100%;width: 100%;margin: 0px;padding: 0px;margin-bottom: 0px;margin-top: 0px">

  <%- include ("../partials/nav.ejs") %>

  <p id = "status"></p>
  <div id = "map" style="height: 100%;width: 100%;margin: 0;padding: 0;"></div>

</body>
</html>
